{% extends "account/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<main class="main-container">

    <!-- Section: About -->
    <section id="about" class="section">
        <div class="container">

           <div class="col-md-6 col-md-offset-3"><hr>
    <h1>{% trans "Change Password" %}</h1><hr>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
          {{ form|crispy }}
        <button type="submit" class="smooth-scroll btn btn-theme" name="action">{% trans "Change Password" %}</button>
    </form>
    </div>
        </div>
    </section>
</main>

{% endblock %}
