{% extends "account/base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<main class="main-container">

    <!-- Section: About -->
    <section id="about" class="section">
        <div class="container">

           <div class="col-md-6 col-md-offset-3"><hr>
    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
          {{ form|crispy }}
        <input type="submit" class="smooth-scroll btn btn-theme"  name="action" value="{% trans 'Set Password' %}"/>
    </form>
    </div>
        </div>
    </section>
</main>

{% endblock %}
