{% extends "account/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}


<!-- Main -->
<main class="main-container">

    <!-- Section: About -->
    <section id="about" class="section">
        <div class="container">

           <div class="col-md-6 col-md-offset-3">
<h1>{% trans "Sign Up" %}</h1>
<hr>
<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button  class="smooth-scroll btn btn-theme" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
  </div>
        </div>
    </section>
</main>

{% endblock %}
