
{% extends 'base.html' %}

{% block content %}

<section class="section-page-header">
    <div class="container">
        <div class="row">

            <!-- Page Title -->
            <div class="col-md-8">
                <h1 class="title">About CleubSOft</h1>
                <div class="subtitle">There are many variations of passages </div>
            </div>
            <!-- /Page Title -->

            <!-- Breadcrumbs -->
            <div class="col-md-4">
                <ul class="breadcrumb">
                    <li><i class="fa fa-fw fa-home"></i> <a href="#">Home</a></li>
                    <li>About</li>
                </ul>
            </div>
            <!-- /Breadcrumbs -->

        </div>
    </div>
</section>
<!-- /Section: Page Header -->

<!-- Main -->
<main class="main-container">
    <div class="container">

        <div class="row">

            <!-- Our History -->
            <div class="col-md-8">

                <h3 class="title">Our History</h3>
                <p class="text-justify">
                   
                We are a true blue team of young entrepreneurs stepping forward to make a change for the transmission of our country into the next level of innovation and to serve from all we have learnt about technology.
                We are currently a physical incubitee at Technology and business incubation centre of Shri mata vaishno devi university katra (J&k) a recognition of Dept. of science and technology India.

                </p>

                <p class="text-justify">
                   Our promising team is devoted towards bringing out the best of technology and applications to make life safe, simpler and serving people a class of living, considering the majority of people in India, we designed these IR switches & automation systems within the reach to this majority with respect to prices both long/short term which takes us further in our mission of transforming the country by reframing the infrastructure with our most efficient switches, in such a way where the technology pays for itself, counting the fields of energy bills, installation, maintenance, eliminating the issues of compatibility for the futuristic possibilities. 
                </p>

            </div>
            <!-- Our History -->

            <!-- Our Skills -->
            <div class="col-md-4">

                <h3 class="title">Services we Offer </h3>

                <div class="skills">


                    <div class="title"> Software Development</div>
                    <div class="progress">
                        <div style="width: 100%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80"
                             role="progressbar" class="progress-bar fadeInLeft wow" data-wow-duration="1.3s" data-wow-delay="0.3s"></div>
                    </div>

                    <div class="title"> Web Development </div>
                    <div class="progress">
                        <div style="width: 100%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75"
                             role="progressbar" class="progress-bar fadeInLeft wow" data-wow-duration="1.3s" data-wow-delay="0.6s"></div>
                    </div>

                    <div class="title"> Android App Development</div>
                    <div class="progress">
                        <div style="width: 100%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="85"
                             role="progressbar" class="progress-bar fadeInLeft wow" data-wow-duration="1.3s" data-wow-delay="0.9s"></div>
                    </div>

                    <div class="title"> Web Application<span></span></div>
                    <div class="progress">
                        <div style="width: 100%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="90"
                             role="progressbar" class="progress-bar fadeInLeft wow" data-wow-duration="1.3s" data-wow-delay="1.2s"></div>
                    </div>

                </div>
            </div>
            <!-- /Our Skills -->

        </div>
<!--
        <div class="row">
            <div class="our-team">

                <div class="col-md-12">
                    <h3 class="title">Our Team</h3>
                </div>

                <div class="col-md-3 team-member">
                    <div class="image">
                        <img src="images/team-member-01.jpg">
                    </div>
                    <h4 class="name">Vincent Harper</h4>
                    <span class="post">Company Founder</span>
                    <p class="text">
                        It is a long established fact that a reader will be distracted by the readable content of a
                        page when looking.
                    </p>
                    <ul class="social-share">
                        <li><a href="#"><i class="fa fa-fw fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-pinterest"></i></a></li>
                    </ul>
                </div>
                
                <div class="col-md-3 team-member">
                    <div class="image">
                        <img src="images/team-member-02.jpg">
                    </div>
                    <h4 class="name">Marilyn Green</h4>
                    <span class="post">Company Founder</span>
                    <p class="text">
                        It is a long established fact that a reader will be distracted by the readable content of a
                        page when looking.
                    </p>
                    <ul class="social-share">
                        <li><a href="#"><i class="fa fa-fw fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-pinterest"></i></a></li>
                    </ul>
                </div>
               
                <div class="col-md-3 team-member">
                    <div class="image">
                        <img src="images/team-member-03.jpg">
                    </div>
                    <h4 class="name">Tammy Carpenter</h4>
                    <span class="post">Company Founder</span>
                    <p class="text">
                        It is a long established fact that a reader will be distracted by the readable content of a
                        page when looking.
                    </p>
                    <ul class="social-share">
                        <li><a href="#"><i class="fa fa-fw fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-pinterest"></i></a></li>
                    </ul>
                </div>
                
                <div class="col-md-3 team-member">
                    <div class="image">
                        <img src="images/team-member-04.jpg">
                    </div>
                    <h4 class="name">Harry Gutierrez</h4>
                    <span class="post">Company Founder</span>
                    <p class="text">
                        It is a long established fact that a reader will be distracted by the readable content of a
                        page when looking.
                    </p>
                    <ul class="social-share">
                        <li><a href="#"><i class="fa fa-fw fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <h3 class="title">Happy Clients</h3>

                <div class="clients-carousel owl-carousel owl-theme">

                    <div class="item client"><img src="images/logo.png"></div>
                    <div class="item client"><img src="images/logo.png"></div>
                    <div class="item client"><img src="images/logo.png"></div>
                    <div class="item client"><img src="images/logo.png"></div>
                    <div class="item client"><img src="images/logo.png"></div>

                </div>

            </div>
        </div>

    </div>-->
    <br>
    <br>
    <br>
     <br>
    <br>
    <br>
      <br>
    <br>
    <br>
</main>

{% endblock %}