
{% extends 'base.html' %}

{% block content %}

<section class="section-page-header">
    <div class="container">
        <div class="row">


        </div>
    </div>
</section>
<!-- /Section: Page Header -->

<!-- Main -->
<main class="main-container">
    <div class="container">

        <div class="row">

            <!-- Our History -->
            <div class="col-md-8">

                <h3 class="title">About Us</h3><hr>
                <p class="text-justify">
                   
              Cleub develop and manufacture wireless products, which are not only cost effective, but are also energy efficient, smart and elegant.

Lots of big companies in the market of home automation, manufacture complete modules so as to make home automated and wireless. But they are bounded by compatibility. They require appliances which are wireless and compatible to their modules or their product.This makes us unique and our market huge and ever-lasting, as new products will never end coming and people will never stop buying them.

They restrict the selection of appliance for the customer and not every person can buy them, because what about the already installed appliances or products which the customers have already bought.

Also, not every popular company manufactures wireless products. We at Cleub does not let people face this problem. We do not let people purchase high price, wireless, smart products, but make their already purchased products or appliances wireless and smart. People will purchase the body of the appliance and we put brains in it.
                </p>

                <p class="text-justify">
                  
                </p>

            </div>
            <!-- Our History -->

            <!-- Our Skills -->
            <div class="col-md-4">

                <h3 class="title">Services we Offer </h3>

                <div class="skills">


                    <div class="title"> Home Automation</div>
                    <div class="progress">
                        <div style="width: 100%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80"
                             role="progressbar" class="progress-bar fadeInLeft wow" data-wow-duration="1.3s" data-wow-delay="0.3s"></div>
                    </div>

                    <div class="title"> Home Security </div>
                    <div class="progress">
                        <div style="width: 100%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75"
                             role="progressbar" class="progress-bar fadeInLeft wow" data-wow-duration="1.3s" data-wow-delay="0.6s"></div>
                    </div>

                    <div class="title"> Lighting</div>
                    <div class="progress">
                        <div style="width: 100%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="85"
                             role="progressbar" class="progress-bar fadeInLeft wow" data-wow-duration="1.3s" data-wow-delay="0.9s"></div>
                    </div>

                </div>
            </div>
            <!-- /Our Skills -->


    <br>
    <br>
      <br>
    <br>
    <br>
</main>

{% endblock %}