<!DOCTYPE html>
<html>
<head>
	
</head>
<body>

<!-- Footer -->
<footer class="footer section-small">
    <div class="container">
        <div class="row">

            <!-- Footer Column -->
            <div class="col-md-3 col-xs-6 footer-col">

                <!-- Footer Logo -->
                <div class="logo">
                    <img src="images/logo.png" alt="">
                </div>
                <!-- /Footer Logo -->

                <!-- Footer Text -->
                <p class="text">
                    It is a long established fact that a reader will be distracted by the readable.
                </p>
                <!-- /Footer Text -->

                <hr>

                <!-- Copyright -->
                <p class="copyright">
                    Copyright &copy; 2015-2016 <strong>Valery Timofeev</strong>
                </p>
                <!-- /Copyright -->

                <!-- Footer Social -->
                <ul class="social-inline">
                    <li><a href="#" class="fa fa-fw fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-fw fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-fw fa-google-plus"></a></li>
                    <li><a href="#" class="fa fa-fw fa-dribbble"></a></li>
                    <li><a href="#" class="fa fa-fw fa-pinterest"></a></li>
                </ul>
                <!-- /Footer Social -->

            </div>
            <!-- /Footer Column -->

            <!-- Footer Column -->
            <div class="col-md-3 col-xs-6 footer-col">

                <h3 class="title">Latest From <span class="text-theme">Blog</span></h3>

                <!-- Footer Post -->
                <div class="media post">
                    <div class="media-left">
                        <div class="image">
                            <img src="images/last-post-01.jpg" alt="">
                        </div>
                    </div>
                    <div class="media-body">
                        <p class="text">
                            It is a long established fact that a reader will be distracted.
                        </p>
                        <a href="#">Read more</a>
                    </div>
                </div>
                <!-- /Footer Post -->

                <!-- Footer Post -->
                <div class="media post">
                    <div class="media-left">
                        <div class="image">
                            <img src="images/last-post-02.jpg" alt="">
                        </div>
                    </div>
                    <div class="media-body">
                        <p class="text">
                            It is a long established fact that a reader will be distracted.
                        </p>
                        <a href="#">Read more</a>
                    </div>
                </div>
                <!-- /Footer Post -->

            </div>
            <!-- /Footer Column -->

            <!-- Footer Column -->
            <div class="col-md-2 col-xs-6 footer-col">

                <h3 class="title">Site Menu</h3>

                <!-- Footer Menu -->
                <ul class="menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <!-- /Footer Menu -->

            </div>
            <!-- /Footer Column -->

            <!-- Footer Column -->
            <div class="col-md-4 col-xs-6 footer-col">

                <h3 class="title">Signup to <span class="text-theme">Newsletter</span></h3>

                <!-- Footer Signup Form -->
                <div class="signup-form">
                    <form method="post" class="form-inline">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Your E-mail...*" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-theme"><i class="fa fa-fw fa-envelope"></i></button>
                        </div>
                    </form>

                </div>
                <!-- /Footer Signup Form -->

                <hr>

                <!-- Footer Tags -->
                <div class="tags">
                    <a href="#" class="tag">web</a>
                    <a href="#" class="tag">design</a>
                    <a href="#" class="tag">clean</a>
                    <a href="#" class="tag">minimal</a>
                    <a href="#" class="tag">pixel perfect</a>
                    <a href="#" class="tag">blog</a>
                    <a href="#" class="tag">gallery</a>
                </div>
                <!-- /Footer Tags -->

            </div>
            <!-- /Footer Column -->

        </div>
    </div>
</footer>
<!-- /Footer -->

<!-- Scroll To Top -->
<div id="scroll-to-top" class="scroll-to-top">
    <i class="icon fa fa-angle-up"></i>
</div>
<!-- /Scroll To Top -->

<!-- Modal: Result Message -->
<div class="modal fade" id="result" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title">Sending message</h4>
            </div>

            <div class="modal-body">

                <div class="result-icon">
                    <div class="icon-border">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" preserveAspectRatio="none">
                            <circle cx="8" cy="8" r="6.215" transform="rotate(90 8 8)"></circle>
                        </svg>
                        <i class="icon fa fa-check"></i>
                    </div>
                </div>

                <p class="modal-result h4 text-center"></p>
            </div>

        </div>
    </div>
</div>
<!-- /Modal: Result Message -->

<!-- SCRIPTS -->
<script src="{% static 'cleub/js/jquery-2.2.0.min.js' %}"></script>
<script src="{% static 'cleub/js/bootstrap.min.js' %}"></script>
<script src="{% static 'cleub/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'cleub/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'cleub/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'cleub/js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'cleub/js/wow.min.js' %}"></script>
<script src="{% static 'cleub/js/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'cleub/js/jquery.appear.js' %}"></script>
<script src="{% static 'cleub/js/jquery.animateNumber.min.js' %}"></script>
<script src="{% static 'cleub/js/general.js' %}"></script>
<!-- /SCRIPTS -->


<!-- TODO: Remove this block, Demo-version only -->
<!-- Styleswitcher -->
<div id="styleswitcher" class="styleswitcher">
    <div class="styleswitcher-content">

        <h4 class="styleswitcher-title">Color Presets</h4>
        <div class="styleswitcher-block">
            <ul class="styleswitcher-list-colors">
                <li><a href="javascript: switchStyle('theme-persimmon')" style="background: #ff5555;" title="Persimmon"></a></li>
                <li><a href="javascript: switchStyle('theme-atomic-tangerine')" style="background: #ff9e55;" title="Atomic Tangerine"></a></li>
                <li><a href="javascript: switchStyle('theme-yellow-sea')" style="background: #fab000;" title="Yellow Sea"></a></li>
                <li><a href="javascript: switchStyle('theme-rio-grande')" style="background: #aed605;" title="Rio Grande"></a></li>
                <li><a href="javascript: switchStyle('theme-vida-loca')" style="background: #38b71f;" title="Vida Loca"></a></li>
                <li><a href="javascript: switchStyle('theme-mountain-meadow')" style="background: #1fb768;" title="Mountain Meadow"></a></li>
                <li><a href="javascript: switchStyle('theme-java')" style="background: #1fb7a4;" title="Java"></a></li>
                <li><a href="javascript: switchStyle('theme-mariner')" style="background: #3274cd;" title="Mariner"></a></li>
                <li><a href="javascript: switchStyle('theme-medium-purple')" style="background: #996de9;" title="Medium Purple"></a></li>
                <li><a href="javascript: switchStyle('theme-lavender-magenta')" style="background: #e94de4;" title="Lavender Magenta"></a></li>
            </ul>
        </div>

        <h4 class="styleswitcher-title">Navigation Style</h4>
        <div class="styleswitcher-block">
            <select id="styleswitcher-navbar-style">
                <option value="style-1">Default</option>
                <option value="style-2">Fill</option>
                <option value="style-3">Underline</option>
            </select>
        </div>

    </div>

    <div class="styleswitcher-button vertical-middle"><i class="fa fa-gear"></i></div>
</div>

<link rel="stylesheet" type="text/css" href="demo/styleswitcher.css" property="">
<script src="demo/styleswitcher.js"></script>
 <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter35435255 = new Ya.Metrika({ id:35435255, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/35435255" style="position:absolute; left:-9999px;" alt="" /></div></noscript> 
</body>
</html>