{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Slider -->
<div class="slider owl-carousel owl-theme">

    <!-- Slide -->
    <div class="item mask" style="background: url({% static 'cleub/images/e2.jpg' %}) no-repeat center top / cover;" data-stellar-background-ratio="0.4">

        <div class="container height-100p">
            <div class="row height-100p">

                <div class="col-sm-6 col-md-4 col-md-offset-2 height-100p bounceInLeft wow" data-wow-duration="1.3s" data-wow-delay="0.3s" data-stellar-ratio="0.7">
                    <div class="vertical-middle">
                       
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 height-100p bounceInRight wow" data-wow-duration="1.3s" data-stellar-ratio="0.8">
                    <div class="vertical-middle" style="margin-left: 120px;">
                        <h1 class="text-white">Welcome to <span class="text-theme">CleubLife</span></h1>
                        <div class="text-white h4">
                          CleubLife convert customers regular home appliances into wireless, smart and automated with its products.cleubLife develop and manufacture wireless products, which are not only cost
effective, but are also energy efficient, smart and elegant.
                        </div>
                        <a href='{% url "products" %}' class="smooth-scroll btn btn-theme">Our Product</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- /Slide -->

    <!-- Slide -->
    <div class="item mask" style="background: url({% static 'cleub/images/e1.jpg' %}) no-repeat center top / cover;" data-stellar-background-ratio="0.4">

        <div class="container height-100p">
            <div class="row height-100p">

                <div class="col-sm-6 col-md-4 col-md-offset-2 height-100p bounceInLeft wow" data-wow-duration="1.3s" data-wow-delay="0.3s" data-stellar-ratio="0.7">
                    <div class="vertical-middle">
                    
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 height-100p bounceInRight wow" data-wow-duration="1.3s" data-stellar-ratio="0.8">
                    <div class="vertical-middle"  style="margin-left: 120px;">
                      <h1 class="text-white">Welcome to <span class="text-theme">CleubLife</span></h1>
                        <div class="text-white h4">
                           CleubLife convert customers regular home appliances into wireless, smart and automated with its products.cleubLife develop and manufacture wireless products, which are not only cost
effective, but are also energy efficient, smart and elegant.
                        </div>
                        <a href='{% url "products" %}' class="smooth-scroll btn btn-theme">Our Product</a>
                    
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- /Slide -->

</div>
<!-- /Slider -->

<!-- Main -->
<main class="main-container">

    <!-- Section: About -->
    <section id="about" class="section" style="background-color: #1fb7a4;">
        <div class="container" style="background-color: #f5f5f5; margin-top:-4%;margin-bottom:-4%;">
<br>
             <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <header class="text-center feature fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.4s">
<i class="fa fa-handshake-o" aria-hidden="true"></i>

                        <h2 class="section-title"  >
Our Partner &nbsp;<span class="text-theme"><i class="fa fa-check-square-o" aria-hidden="true"></i>

</span></h2>
                        <p class="section-subtitle">We Take care of our customer requirement.</p>
                    </header>
                </div>
            </div><br>
<hr>
<br><br>
          <div class="row">

              {% for partners in partner %}
                <div class="col-md-3 col-sm-6 feature fadeIn wow" data-wow-duration="1.3s">
              <img src="{{partners.images.url}}" style="height: 90px; width: 130px;" class="fadeIn wow" data-wow-duration="1.3s">
            </div>
              {% endfor %}  
         
          </div>
              
<!--
        
            <div class="row" style="display: none">
                <div class="col-md-6 col-md-offset-3">
                    <header class="text-center">
                        <h2 class="section-title">About <span class="text-theme">Us</span></h2>
                        <p class="section-subtitle">It is a long established fact that a reader</p>
                    </header>
                </div>
            </div>
          
            <div class="row">

          
                <div class="col-sm-4 feature fadeIn wow" data-wow-duration="1.3s">
                    <span class="icon_link_alt icon"></span>
                    <div class="h3 title">Software Development</div>
                    <p class="description">
                        We would be delighted to help you with any custom software development.
                         </p>
                    <a href="#" class="btn btn-theme">Read more</a>
                </div>
             
                <div class="col-sm-4 feature fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.4s">
                    <span class="icon_tablet icon"></span>
                    <div class="h3 title">Web Development</div>
                    <p class="description">
                        From strategy to design and development, we are here through every step of the website development process.
                        </p>
                    <a href="#" class="btn btn-theme">Read more</a>
                </div>

                <div class="col-sm-4 feature fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.8s">
                    <span class="icon_mobile icon"></span>
                    <div class="h3 title">Android App Development</div>
                    <p class="description">
                    We design and develop amazing smartphone application that look great and are simple to use.
                    </p>
                    <a href="#" class="btn btn-theme">Read more</a>
                </div>
              
--><hr>
            
            <div class="row mt">
                <div class="col-md-6 col-md-offset-3">
                    <header class="text-center">
                        <h2 class="section-title">Cleub Feature&nbsp;<span class="text-theme">Product</span></h2>
                        <p class="section-subtitle">We Take care of our customer requirement.</p>
                    </header><br>
                           <hr><br>
                </div>
    

              
                    {% include "products/products.html" with object_list=products2 %}
            </div>
            


<hr>

            <div class="row" >
                <div class="col-md-6 col-md-offset-3">
                    <header class="text-center">
                        <h2 class="section-title">Cleub &nbsp;<span class="text-theme">Technology</span></h2>
                        <p class="section-subtitle">We Take care of our customer requirement.</p>
                    </header><br>
                           <hr><br>
                </div>
    
            </div>
          
            <div class="row">

          
                <div class="col-sm-4 feature fadeIn wow" data-wow-duration="1.3s">
                 <span class="icon_mobile icon"></span>
                    <div class="h3 title">Appliance control</div>
                    <p class="description">
                        Cleub provides full control for all home appliances from one smart phone app via wireless switches, relay modules, WIFI-Sockets and a central control unit (hub)
                         </p>
                    <a href="/categories/appliance_control/" class="btn btn-theme">Read more</a>
                </div>
             
                <div class="col-sm-4 feature fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.4s">
                    <span >

<i class="fa fa-shield icon" aria-hidden="true"></i>
</span>
                    <div class="h3 title">Home Security</div>
                    <p class="description">
                         Cleub takes care of your home when you are not present or sleeping. 
Cleub provides customized automated security solution to make your home smart automated &amp; controlled.
                        </p>
                    <a href="/categories/home_security/" class="btn btn-theme">Read more</a>
                </div>

                <div class="col-sm-4 feature fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.8s">
                 
                    <span ><i class="fa fa-bolt icon" aria-hidden="true"></i></span>
                    <div class="h3 title">Lighting</div>
                    <p class="description">
                    Lighting in the home refreshes the mood of the person. Items used in maximum quantity in a home are lighting appliances ranging from ceiling lights, lamps, Fluorescent bulbs, LED lights.
                    </p>
                    <a href="/categories/lightings/" class="btn btn-theme">Read more</a>
                </div>

        </div>
        <hr>
    </section>

    <section id="statistics" class="section bg-tuna">
        <div class="container" >

            <div class="row">

                <!-- Statistic Block -->
                <div class="col-sm-3 col-xs-6 stat">
                    <span class="icon_pens icon zoomIn wow" data-wow-duration="0.7s"></span>
                    <div class="number animate-number h2" data-value="X"></div>
                    <h4 class="title bounceInUp wow" data-wow-duration="0.7s">Finished Projects</h4>
                </div>
                <!-- /Statistic Block -->

                <!-- Statistic Block -->
                <div class="col-sm-3 col-xs-6 stat">
                    <span class="icon_group icon zoomIn wow" data-wow-duration="0.7s"></span>
                    <div class="number animate-number h2" data-value="X"></div>
                    <h4 class="title bounceInUp wow" data-wow-duration="0.7s">Happy Customers</h4>
                </div>
                <!-- /Statistic Block -->

                <!-- Statistic Block -->
                <div class="col-sm-3 col-xs-6 stat">
                    <span class="icon_mug icon zoomIn wow" data-wow-duration="0.7s"></span>
                    <div class="number animate-number h2" data-value="24 "></div>
                    <h4 class="title bounceInUp wow" data-wow-duration="0.7s">Support</h4>
                </div>
                <!-- /Statistic Block -->

                <!-- Statistic Block -->
                <div class="col-sm-3 col-xs-6 stat">
                    <span class="icon_building icon zoomIn wow" data-wow-duration="0.7s"></span>
                    <div class="number animate-number h2" data-value="2"></div>
                    <h4 class="title bounceInUp wow" data-wow-duration="0.7s">Care Center</h4>
                </div>
                <!-- /Statistic Block -->

            </div>

        </div>
    </section>
    <!-- /Section: Statistics -->

    <!-- Section: Best Features -->
    <section id="beast-features" class="section" style="background-color: #1fb7a4; margin-bottom:-50px;">
        <div class="container" style="background-color: #f5f5f5; margin-top:-4%;">

            <br>
             <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <header class="text-center feature fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.4s">
<i class="fa fa-handshake-o" aria-hidden="true"></i>

                        <h2 class="section-title"  >
Our Services &nbsp;<span class="text-theme"><i class="fa fa-check-square-o" aria-hidden="true"></i>

</span></h2>
                        <p class="section-subtitle">We take care of our customer requirement.</p>
                    </header>
                </div>
            </div>
<hr>


            <!-- Section Content -->
            <div class="row section-content">


                <div class="col-md-6">

                    <h3>&nbsp;
CleubLife ensure maximum comfortibility of customer</h3><hr>

                    <ul class="list">
                        <li>
                            <h4 class="title bounceInUp wow" data-wow-duration="1.3s" data-wow-delay="0.2s">Energy Efficient</h4>
                            <p class="description fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.2s">
                                Our product is designed with a latest and energy efficient technology  like real time energy monitoring.
                            </p>
                        </li>
                        <li>
                            <h4 class="title bounceInUp wow" data-wow-duration="1.3s" data-wow-delay="0.4s">Easy Installation</h4>
                            <p class="description fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.4s">
                               Our all product is easy to install and Compatible with all types of appliances.                             </p>
                        </li>
                        <li>
                            <h4 class="title bounceInUp wow" data-wow-duration="1.3s" data-wow-delay="0.6s">Comfortable</h4>
                            <p class="description fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.6s">
                               We care our customer so we provide our cleub product with maximum comfortability for that you can enjoy the technology
                            </p>
                        </li>
                    </ul>

                </div>

                <!-- Section Image -->
                <div class="col-md-6 hidden-sm hidden-xs bounceInRight wow" data-wow-duration="1.3s">
                          <!-- Post Image -->
                        <div class="image">

                            <!-- iFrame Video -->
                            <iframe  width="590" height="340" src="https://www.youtube.com/embed/mpxEm5YD2xM?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                            <!-- /iFrame Video -->

                        </div>
                </div>
                <!-- /Section Image -->

            </div>
            <!-- /Section Content -->

        </div>
    </section>
  
     


</main>
<!-- /Main -->
{% endblock %}