
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<!-- Section: Page Header -->
<section class="section-page-header">
    <div class="container">
        <div class="row">

            <!-- Page Title -->
            <div class="col-md-8">
                <h1 class="title"> Our latest product </h1>
                <div class="subtitle">We turn your ideas into reality</div>
            </div>
            <!-- /Page Title -->

            <!-- Breadcrumbs -->
            <div class="col-md-4">
                <ul class="breadcrumb">
                    <li><i class="fa fa-fw fa-home"></i> <a href="#">Home</a></li>
                    <li><a href="#">Project</a></li>
                    <li>Latest product</li>
                </ul>
            </div>
            <!-- /Breadcrumbs -->

        </div>
    </div>
</section>
<!-- /Section: Page Header -->

<!-- Main -->
<main class="main-container">

    <section>
        <div class="container">

            <!-- Project -->
            <div class="row">

                <!-- Project Images -->
                <div class="col-md-8">


                    <div class="project-carousel owl-carousel owl-theme">

                        <div class="item">
                            <a href="{% static 'cleub/images/s2.jpg' %}" class="image-popup">
                                <div class="gallery-image">
                                    <img src="{% static 'cleub/images/s2.jpg' %}">
                                </div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="{% static 'cleub/images/s1.jpg' %}" class="image-popup">
                                <div class="gallery-image">
                                    <img src="{% static 'cleub/images/s1.jpg' %}">
                                </div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="{% static 'cleub/images/s5.jpg' %}" class="image-popup">
                                <div class="gallery-image">
                                    <img src="{% static 'cleub/images/s5.jpg' %}">
                                </div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="{% static 'cleub/images/s4.jpg' %}" class="image-popup">
                                <div class="gallery-image">
                                    <img src="{% static 'cleub/images/s4.jpg' %}">
                                </div>
                            </a>
                        </div>

                    </div>


                </div>
                <!-- /Project Images -->

                <!-- Project Information -->
                <div class="col-md-4 project-information">

                    <h3 class="title">Project Description</h3>
                    <p>
                       To Enhance the working efficiency of a management

                       system, Cleub soft provides a wise and better ways to deal

                       with the documents within any organization and moving

                       forward towards the digital world to save papers as well

                       as trees.
                    </p>

                    <h3 class="title">Product Detail</h3>
                    <ul class="details">
                        <li>Student Management</li>
                        <li>Fee Management</li>
                        <li>Advance sms System</li>
                       
                        <li>High Security</li>
                          <li><span>Detail :</span><a href="{% static 'cleub/images/cleusoft.docx' %}" target="_blank"><mark>term &amp; condition</mark></a></li>

                        
                    </ul>


                    <ul class="social-share">
                        <li><a href="#"><i class="fa fa-fw fa-facebook"></i> </a></li>
                        <li><a href="#"><i class="fa fa-fw fa-twitter"></i> </a></li>
                        <li><a href="#"><i class="fa fa-fw fa-google-plus"></i></a></li>
                      
                    </ul>

                </div>
                <!-- /Project Information -->

            </div>
            <!-- /Project -->

        </div>
    </section>
<!--
    <section class="section-small mt bg-light-gray">
        <div class="container">

            
            <div class="row">
                <div class="col-md-6">
                    <header>
                        <h2 class="section-title"><span class="text-theme">Recent</span> Projects</h2>
                        <p class="section-subtitle">It is a long established fact that a reader</p>
                    </header>
                </div>
            </div>
          
            <div class="row mt">
                <div class="col-md-12">
                    <div class="projects-carousel owl-carousel owl-theme">

                        <div class="item recent-project">
                            <a href="images/project-01.jpg" class="image-popup">
                                <div class="gallery-image">
                                    <img src="images/project-01.jpg">
                                </div>
                            </a>
                            <a href="#" class="info">
                                <h4 class="title">Buildings</h4>
                                <p class="description"># web-design</p>
                            </a>
                        </div>

                        <div class="item recent-project">
                            <a href="images/project-02.jpg" class="image-popup">
                                <div class="gallery-image">
                                    <img src="images/project-02.jpg">
                                </div>
                            </a>
                            <a href="#" class="info">
                                <h4 class="title">Nautical Nonsense</h4>
                                <p class="description"># illustration</p>
                            </a>
                        </div>

                        <div class="item recent-project">
                            <a href="images/project-03.jpg" class="image-popup">
                                <div class="gallery-image">
                                    <img src="images/project-03.jpg">
                                </div>
                            </a>
                            <a href="#" class="info">
                                <h4 class="title">Coffee</h4>
                                <p class="description"># creative</p>
                            </a>
                        </div>

                        <div class="item recent-project">
                            <a href="images/project-04.jpg" class="image-popup">
                                <div class="gallery-image">
                                    <img src="images/project-04.jpg">
                                </div>
                            </a>
                            <a href="#" class="info">
                                <h4 class="title">New York City</h4>
                                <p class="description"># web-design</p>
                            </a>
                        </div>

                        <div class="item recent-project">
                            <a href="images/project-05.jpg" class="image-popup">
                                <div class="gallery-image">
                                    <img src="images/project-05.jpg">
                                </div>
                            </a>
                            <a href="#" class="info">
                                <h4 class="title">The Writer's Collection</h4>
                                <p class="description"># creative</p>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
           

        </div>
    </section>
-->
</main>


{% endblock  %}