
{% extends 'base.html' %}

{% block content %}

<section class="section-page-header">
    <div class="container">
        <div class="row">

            <!-- Page Title -->
            <div class="col-md-8">
                <h1 class="title">Services</h1>
                <div class="subtitle">We turn your ideas into reality  </div>
            </div>
            <!-- /Page Title -->

            <!-- Breadcrumbs -->
            <div class="col-md-4">
                <ul class="breadcrumb">
                    <li><i class="fa fa-fw fa-home"></i> <a href="#">Home</a></li>
                    <li>Services</li>
                </ul>
            </div>
            <!-- /Breadcrumbs -->

        </div>
    </div>
</section>
<!-- /Section: Page Header -->

<!-- Main -->
<main class="main-container">
    <div class="container">

        <!-- Services -->
        <div class="row">

             <!-- Feature Block -->
                <div class="col-sm-4 feature fadeIn wow" data-wow-duration="1.3s">
                    <span class="icon_link_alt icon"></span>
                    <div class="h3 title">Software Development</div>
                    <p class="description">
                        We would be delighted to help you with any custom software development.
                         </p>
                    <a href="#" class="btn btn-theme">Read more</a>
                </div>
                <!-- /Feature Block -->

                <!-- Feature Block -->
                <div class="col-sm-4 feature fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.4s">
                    <span class="icon_tablet icon"></span>
                    <div class="h3 title">Web Development</div>
                    <p class="description">
                        From strategy to design and development, we are here through every step of the website development process.
                        </p>
                    <a href="#" class="btn btn-theme">Read more</a>
                </div>
                <!-- /Feature Block -->

                <!-- Feature Block -->
                <div class="col-sm-4 feature fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.8s">
                    <span class="icon_mobile icon"></span>
                    <div class="h3 title">Android App Development</div>
                    <p class="description">
                    We design and develop amazing smartphone application that look great and are simple to use.
                    </p>
                    <a href="#" class="btn btn-theme">Read more</a>
                </div>
              
            <!-- /Feature Block -->

        </div>
        <!-- /Services -->


        <div class="row mt">

            <!-- Panels -->
            <div class="col-md-4">

                <h3 class="title">F.A.Q.</h3>

                <div class="panel-group" id="accordion">

                    <div class="panel panel-theme">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="" data-toggle="collapse" data-parent="#accordion" href="#faq-01">
                                    <i class="fa fa-fw fa-mobile-phone"></i>
                                    Who we are ?
                                    <i class="fa fa-fw fa-angle-down collapse-icon"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="faq-01" class="panel-collapse collapse in">
                            <div class="panel-body">
                                CleubSoft is an innovative and people’s oriented application based company. Here we provide best possible solutions with best possible price and services. We always focus customer demand and needs and develop applications, without giving them a chance to complain, though giving them a chance to gain.

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-theme">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faq-02">
                                    <i class="fa fa-fw fa-paper-plane-o"></i>
                                    How we work?
                                    <i class="fa fa-fw fa-angle-down collapse-icon"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="faq-02" class="panel-collapse collapse">
                            <div class="panel-body">
                                
                            </div>
                        </div>
                    </div>

                    

                </div>
            </div>
            <!-- /Panels -->

            <!-- Features -->
            <div class="col-md-8">
                <div class="row">

                    <h3 class="title">Features</h3>

                    <!-- Feature Block -->
                    <div class="col-sm-6 more-feature">
                        <div class="media">
                            <div class="media-left">
                                <span class="icon_link_alt icon"></span>
                            </div>
                            <div class="media-body">
                                <h3 class="title">Services to customer</h3>
                                <p class="description">
                                    Our one of the finest service and solution team keeps in touch with them, solving every possible aspect of any type of complaints or issue which makes our product even better then before.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /Feature Block -->

                    <!-- Feature Block -->
                    <div class="col-sm-6 more-feature">
                        <div class="media">
                            <div class="media-left">
                                <span class="icon_easel icon"></span>
                            </div>
                            <div class="media-body">
                                <h3 class="title">Customisation according to the customer</h3>
                                <p class="description">
                                   We provide full customisation facility for our customers in terms of GUI, services and additional features,in terms of the incoming of new technologies.
                            
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /Feature Block -->

                    <!-- Feature Block -->
                    <div class="col-sm-6 more-feature">
                        <div class="media">
                            <div class="media-left">
                                <span class="icon_puzzle icon"></span>
                            </div>
                            <div class="media-body">
                                <h3 class="title">Modular compatibility to applications</h3>
                                <p class="description">
                                   we provide integration of different user-specific modules with their application, charging them with the most reasonable amount.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /Feature Block -->

                    <!-- Feature Block -->
                    <div class="col-sm-6 more-feature">
                        <div class="media">
                            <div class="media-left">
                                <span class="icon_download icon"></span>
                            </div>
                            <div class="media-body">
                                <h3 class="title">24/7 Support</h3>
                                <p class="description">
                                   CleubSoft Offer 24/7 hours support for its product so that, the Client  can contact any to our care center.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /Feature Block -->

                </div>
            </div>
            <!-- /Features -->

        </div>

   <!--
        <div class="row mt">
            <div class="col-md-12">

                <h3 class="title">Happy Clients</h3>

                <div class="clients-carousel owl-carousel owl-theme">

                    <div class="item client"><img src="images/logo.png"></div>
                    <div class="item client"><img src="images/logo.png"></div>
                    <div class="item client"><img src="images/logo.png"></div>
                    <div class="item client"><img src="images/logo.png"></div>
                    <div class="item client"><img src="images/logo.png"></div>

                </div>

            </div>
        </div>
       -->


    </div>
</main>
<!-- /Main -->
{% endblock %}