






                       <div class="media services-wrap wow fadeInDown shadow-z-2">
                        <div class="pull-left col-sm-6">
                            <img class="img-responsive"  height="100" width="100" src='{{ product.get_image_url }}'>
                        </div>
                        <div class="media-body">
                            <a href="{{ product.get_absolute_url }}"><p class="media-heading" style="font-size:18px; color:#e55b5b;">{{ product.title }}</p></a>
                            
                        <br>
                 <a href="{{ product.get_absolute_url }}">
 <button  class="btn btn-theme">Know More</button></a><br><br>
                    </div>
                    </div>
               